.button-templet {
    display: block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: $roboto-condensed;
    border: 4px solid $white;
    cursor: pointer;
  }