@media (min-width: $desktop-width) {
    .sections-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: $max-width;
        background-image: linear-gradient($dark-blue 50%, $dark-blue 50%);
        background-size: 166px 102%;
        background-position: calc(50% - 600px) top;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            @include pseudo;
            background-color: rgb(116, 129, 156);
            background-position: center;
            background-repeat: no-repeat;
            width: 50%;
            height: 1px;
            right: 0;
            top: 0;
        }
    }

    .sections-wrapper__subcontainer {
        display: flex;
        justify-content: center;
        width: $desktop-width;
        margin: 0 auto;
    
    }
}

