.subscriptions {
    background-color: rgb(248, 249, 252);
    padding-top: 68px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;
    overflow: hidden;
}

.subscriptions__caption {
    font-family: $bebas;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 23px 0;
}

.subscriptions__months-list {
    @include list-reset;
    margin-bottom: 34px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 290px;
    position: relative;

    &::before {
        @include pseudo;
        width: 290px;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(120, 120, 120, 0.2);

    }
}

.subscriptions__month-item {
    padding-bottom: 11px;
    color: rgba(16, 38, 84, 0.5);
    cursor: pointer;

    &:hover {
        color: $dark-blue;
    }
}

.subscriptions__month-item--selected {
    border-bottom: 2px solid $vinous;
    padding-bottom: 11px;
    color: $dark-blue;
}

.subscriptions__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 290px;
    min-height: 384px;
    background-color: $white;
    padding-top: 44px;
    position: relative;
    margin-bottom: 35px;
    border: 8px solid $white;

    &::before {
        @include pseudo("5000");
        font-size: 40px;
        top: 109px;
        left: 50%;
        transform: translateX(-50%);
        color: green;
        z-index: 0;
        font-weight: 700;
        font-size: 80px;
        line-height: 120px;
        color: rgb(232, 232, 232);
        opacity: 0.48;
    }

    &:hover {
        border: 8px solid transparent;
        border-image: linear-gradient(111.72deg, $vinous 17.6%, $blue 95.31%);
        border-image-slice: 1;

        .subscriptions__button {
            color: $white;
            border: 2px solid $white;
            background: linear-gradient(111.72deg, rgb(237, 2, 51) 17.6%, $blue 95.31%)
        }
    }
}


.subscriptions__card--coach::before {
    content: "5000";
}

.subscriptions__card--coach-6 {
    &::before {
        content: "25000";
    }
}

.subscriptions__card--coach-12 {
    &::before {
        content: "55000";
    }
}

.subscriptions__card--day {
    &::before {
        content: "1700";
    }
}

.subscriptions__card--day-6 {
    &::before {
        content: "8500";
    }
}

.subscriptions__card--day-12 {
    &::before {
        content: "18700";
    }
}

.subscriptions__card--full-day {
    margin-bottom: 0;

    &::before {
        content: "2700";
    }
}

.subscriptions__card--full-day-6 {

    &::before {
        content: "13500";
    }
}

.subscriptions__card--full-day-12 {

    &::before {
        content: "29700";
    }
}

.subscriptions__type {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}

.subscriptions__duration {
    color: rgb(73, 90, 125);
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    margin-bottom: 52px;
}

.subscriptions__price {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 30px;
    color: rgb(16, 58, 174);
    position: relative;
    z-index: 1000;
}

.subscriptions__ruble {
    color: $dark-blue;
}

.subscriptions__button {
    border: 2px solid $dark-blue;
    padding: 25px 44px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: $dark-blue;
}

@media (min-width: $tablet-width) {
    .subscriptions {
        padding-top: 97px;
        padding-bottom: 118px;
        position: relative;
        background-image: linear-gradient(to bottom,
                rgb(248, 249, 252) 97%, $white 97%);
    }

    .subscriptions__caption {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 32px;
    }

    .subscriptions__months-list {
        width: 333px;
        margin-bottom: 45px;
    }

    .subscriptions__month-item {
        font-size: 18px;
        line-height: 27px;
    }

    .subscriptions__cards-wrapper {
        position: relative;

        &::before {
            @include pseudo;
            bottom: -138px;
            right: -171px;
            width: 289px;
            height: 350px;
            transform: rotate(150deg);
            background-image: url("../img/disks@1x-tablet.png");
            background-repeat: no-repeat;
            background-size: 289px auto;
            z-index: -1000;

            @media (min-resolution: $retina-dpi),
            (min-resolution: $retina-dppx) {
                background-image: url("../img/disks@2x-tablet.png");
                background-size: 289px auto;
            }
        }
    }

    .subscriptions__card {
        padding-top: 54px;
        width: 442px;
        min-height: 448px;
        margin-bottom: 39px;

        &::before {
            font-size: 100px;
            line-height: 150px;
            top: 126px;
        }

    }

    .subscriptions__months-list::before {
        width: 331px;
    }

    .subscriptions__type {
        font-size: 26px;
        line-height: 29px;
    }

    .subscriptions__price {
        font-size: 60px;
        line-height: 90px;
        margin-bottom: 34px;
    }

    .subscriptions__duration {
        margin-bottom: 65px;
    }
}

@media (min-width: $desktop-width) {
    .subscriptions {
        min-width: $desktop-width;
        max-width: $max-width;
        margin: 0 auto;
        padding-top: 117px;
        padding-bottom: 190px;
        background-image: linear-gradient(to bottom,
                rgb(248, 249, 252) 92%, $white 92%);
    }

    .subscriptions__caption {
        font-size: 49px;
        line-height: 49px;
        margin-bottom: 37px;
    }

    .subscriptions__months-list {
        width: 342px;
        margin-bottom: 38px;
    }

    .subscriptions__month-item {
        font-size: 20px;
        line-height: 30px;
    }

    .subscriptions__cards-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: $desktop-width;
        padding: 0 $desktop-padding;

        &::before {
            width: 323px;
            height: 386px;
            bottom: -216px;
            right: -193px;
            transform: rotate(150deg);
            background-image: url(../img/disks@1x-desktop.png);
            background-repeat: no-repeat;
            background-size: 323px auto;

            @media (min-resolution: $retina-dpi),
            (min-resolution: $retina-dppx) {
                background-image: url("../img/disks@2x-desktop.png");
                background-size: 323px auto;
            }
        }
    }

    .subscriptions__card {
        width: 360px;
        margin-bottom: 0;
    }

    .subscriptions__months-list::before {
        width: 340px;
    }
}