.trainers {
    padding-top: 67px;
    padding-bottom: 69px;
}

.trainers__main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 292px;
    margin: 0 auto;
}

.trainers__sequence {
    display: flex;
    justify-content: center;
}

.trainers__trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 226px;
    min-height: 275px;
    background-color: gray;
    background-color: green;
}

.trainers__trainer--1 {
    background-image: url("../img/trainer1@1x-mobile.jpg");
    background-repeat: no-repeat;
    background-position: -35px -34px;
}

.trainers__trainer--2,
.trainers__trainer--3,
.trainers__trainer--4 {
    display: none;
}

.trainers__caption {
    font-family: $bebas;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    margin-bottom: 44px;
}

.trainers__info-wrapper {
    padding-top: 44px;
}

.trainers__name {
    color: $white;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    text-align: center;
}

.trainers__discipline {
    color: rgb(182, 189, 204);
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    display: none;
}

.trainers__info-list {
    @include list-reset;
    text-align: left;
    margin-left: 50px;
    display: none;
}

.trainers__info-item {
    position: relative;
    color: $white;
    font-size: 14px;
    margin-bottom: 9px;

    &::before {
        @include pseudo;
        width: 6px;
        height: 6px;
        top: 9px;
        left: -16px;
        background-color: $white;
        border-radius: 50%;
    }
}

.trainers__photo {
    display: block;
}

.trainers__left-arrow-mobile,
.trainers__right-arrow-mobile,
.trainers__left-arrow-tablet,
.trainers__right-arrow-tablet {
    stroke: rgb(175, 175, 175);
}

.trainers__left-arrow-tablet,
.trainers__right-arrow-tablet {
    display: none;
}


@media (min-width: $tablet-width) {
    .trainers {
        padding-top: 97px;
        margin-bottom: 40px;
        padding-bottom: 63px;
    }

    .trainers__caption {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 45px;
    }

    .trainers__main-wrapper {
        display: flex;
        justify-content: space-between;
        width: 681px;
    }

    .trainers__sequence {
        justify-content: space-between;
        width: 564px;
    }

    .trainers__trainer {
        width: 266px;
        height: 294px;
        margin: 0;
    }

    .trainers__trainer--1 {
        background-image: url("../img/trainer1@1x-tablet.jpg");
        background-position: center;
        background-size: cover;

        @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
            background-image: url("../img/trainer1@2x-tablet.jpg");
            background-size: 338px auto;
        }
    }

    .trainers__trainer--2 {
        background-image: url("../img/trainer2@1x-tablet.jpg");

        @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
            background-image: url("../img/trainer2@2x-tablet.jpg");
            background-size: 268px auto;
        }
    }

    .trainers__trainer--2 {
        display: block;
    }

    .trainers__info-wrapper {
        padding-top: 244px;
    }

    .trainers__name {
        font-size: 18px;
        line-height: 27px;
        margin-right: 10px;
    }

    .trainers__discipline {
        line-height: 20px;
        margin-right: 9px;
        margin-bottom: 33px;
    }

    .trainers__info-list {
        margin-left: 70px;
        width: 155px;
    }



    .trainers__left-arrow-tablet,
    .trainers__right-arrow-tablet {
        display: block;
    }

    .trainers__left-arrow-mobile,
    .trainers__right-arrow-mobile {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .trainers {
        padding-top: 118px;
        padding-bottom: 80px;
    }

    .trainers__main-wrapper {
        width: 100%;
        min-width: $desktop-width;
        max-width: 1277px;
    }

    .trainers__caption {
        font-size: 49px;
        line-height: 49px;
        text-align: left;
        letter-spacing: 0.03em;
        width: $desktop-width;
        margin: 0 auto;
        padding-left: 19px;
        margin-bottom: 54px;
    }

    .trainers__sequence {
        min-width: 1161px;
        max-width: $max-width;
    }

    .trainers__trainer {
        width: 260px;
    }

    .trainers__name {
        margin-right: 0;
    }

    .trainers__info-list {
        margin-left: 37px;
    }

    .trainers__trainer--1 {
        order: 3;
    }

    .trainers__trainer--2 {
        order: 4;
        background-position: -3px 0;
    }

    .trainers__trainer--3 {
        order: 2;
    }

    .trainers__trainer--4 {
        order: 1;
    }

    .trainers__trainer--3,
    .trainers__trainer--4 {
        display: block;
    }

    .trainers__trainer--3 {
        background-image: url("../img/trainer3@1x-desktop.jpg");

        @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
            background-image: url("../img/trainer3@2x-desktop.jpg");
            background-size: 260px auto;
        }
    }

    .trainers__trainer--4 {
        background-image: url("../img/trainer4@1x-desktop.jpg");

        @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
            background-image: url("../img/trainer4@2x-desktop.jpg");
            background-size: 260px auto;
        }
    }

}