$white: rgb(255, 255, 255);
$text-color: rgb(16, 38, 84);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;
$max-width:  1366px;

$tablet-content: 678px;
$mobile-content: 290px;

$desktop-padding: 25px;
$tablet-padding: 45px;
$mobile-padding: 15px;

$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;
$bebas-bold: "Bebas Neue Bold", "Arial", sans-serif;
